.DS_Store
**/.DS_Store
.git
.gitignore
.cursor
.env
.env.*
config.json
*.sqlite
*.sqlite-shm
*.sqlite-wal
**/.next
**/.turbo
**/dist
**/coverage
coverage
node_modules
docs
temporary
user-docs
tests
*.log
